#wrapper {
    width: 960px;
    margin: 0px auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#show {
    display: block;
    margin: 29px 0px;
    width: 350px;
    min-height: 350px;

}

ul#list-thumb li {
    list-style: none;
}


#show img {
    width: 350px;
    min-height: 350px;
}

#thumb {
    display: block;
    width: 350px;
}

ul#list-thumb {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    padding: 0px;
    /* margin: 0px; */

}

ul#list-thumb li a img {
    width: 80px;
    height: auto;
}

a {
    display: block;
}

.active {
    /* border: 1px solid #474747; */
}
/* ---------- */
/* right */
 .price-box {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    display: block;
    margin: 0 0 10px;
    padding: 3px 0;
}
.special-price {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.price {
    font-size: 22px;
    color: #eb0303;
    font-weight: bold;
}
.custom-btn-numbers{
    padding:3px;
}
.custom-btn-number label{
    float: left;
}
.btn-cts{
    border :1px solid ;
    background:rgba(110, 228, 14, 0.705);
}
.btn-mua{
    float: left;    
}