#top-herder{
    background-color: #f68e2e;
    height: 37px;
}
.dropdown{
    position: relative;
    display: block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background: #d8d6d6;
    z-index: 1;
}
.dropdown:hover>.dropdown-content{
    display: block;
    border: 1px solid #f68e2e;
    background: white;
    z-index: 20;
    padding:10px;
    box-shadow: 0 10px 20px rgba(112, 111, 111, 0.19), 0 6px 6px rgba(102, 100, 100, 0.23);
}
.row-category{
    
}
.wp-title-category{
    display: block;
    position: relative;
    background: #f68e2e;
    width: 100%;
    height: 42px;
}
.category-menu-content{
    padding-left:15px;
    padding-right:15px;
}
.category-icon-menu{
    position:absolute;
    top: 14px;
    left: 10px;
    color:white;
}
.category-product{
    padding-left:0;
    padding-right:0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
   
}
.title-category{
    display: block;
    position: absolute;
    left: 25px;
    padding: 10px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.category-product{
    background-color: white;
}

.dropdown-content-category{
    display: none;
    position: absolute;
    z-index: 1;
    left:90%;
    top: 0px;
    border: 1px solid #f68e2e;
    background: white;
    z-index: 20;
    padding:10px;
    box-shadow: 0 10px 20px rgba(112, 111, 111, 0.19), 0 6px 6px rgba(102, 100, 100, 0.23);
}
.dropdown-category{
    position: relative;
}
.dropdown-category:hover>.dropdown-content-category{
    display: block;
}
.dropdown-category a{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:0px;
    padding-right:0px;
    color:black;
    border-bottom:1px solid #eceaea;

}
#logo{
    width: 150px;
    height: 70px;
    display: block;
    margin-top: 10px;
}
#logo img{
    width: 100%;
    height: auto;
    display: block; 
}
#main-menu li>a{
    color:black;
    font-size: 14px;
    padding: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    font-weight: 500;
}
#main-menu li>a:hover{
    color: #f68e2e;
}
h4.title-cover{
    font-size: 18px;
    line-height: 19px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
}
h4.title-cover::before {
        border: 2px double #ebebeb;
        border-left: 2px double #fff;
        border-right: 2px double #fff;
        bottom: -5px;
        content: "";
        display: block;
        height: 7px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
}
.pro-price{
    color: #f68e2e;
}
.compare-price{
    color:rgb(129, 129, 127);
}
.btn-buy{
    background:#f68e2e;
}
a.feature-title{
    text-decoration: none;
    color:black;
    font-size:30px;
    font-weight: 500;
}
a.feature-title:hover {
    color:#dd7615;
}
p.feature-content{
    
    color:black;
    font-size:15px;
}
.contact{
    margin-top:8px;
    color:white;
    font-size: 14px;
    
}
.login{
    margin-top:7px;
    color:white;
}
.register{
    margin-top:7px;
    color:white;
}
.wraptem .img img{
    border: 0 none;
    max-width: 100%;
    height: auto;
}
.wraptem .content_right p {
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}
.wraptem .content_right span {
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 14px;
    color: #282828;
}

footer.footer .title-menu a, footer.footer .title-menu span {
    cursor: default;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    color: #fff;
}

ul{
    list-style:none outside;
}
footer {
    width: 100%;
    float: left;
    background-image: url("../images/bg_fot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
footer.footer .list-menu {
    line-height: 35px;
    padding-left: 0px;
}
footer.footer .list-menu .li_menu {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 32px;
}
footer.footer .list-menu .li_menu a {
    color: #fff;
    position: relative;
}
footer.footer .list-menu .li_menu a:hover {
    color: #ff2d37;
}
#copyright{
    background: #282828;
    color:#fff;
    height:40px;
    padding-top:11px;
}
#copyright p{
    font-size: 14px;
}
#myTab .nav-item a.active{
    background:rgb(255, 217, 0);
     
}

/* icon cart */
#icon-cart{
    position: relative;
}
.qty-product-cart{
    padding: 2px;
    position: absolute;
    top: -14px;
    left: 22px;
    padding: 0px 8px 0px 8px;
    background: yellow;
    border-radius: 29px;
}